[user]
	name = Albert
	email = acchen@stanford.edu
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --all
[core]
	editor = vim
